Title: Grouping & Aggregating Data using Pandas<br>
Objective: Learn how to group data and perform aggregations on these groups.

Task 1: Grouping by a Single Column<br>

Task: Group the dataset by 'region' and calculate total sales per region.<br>
Steps:<br>
10. Load the dataset.<br>
11. Use groupby('region') on the DataFrame.<br>
12. Apply .sum() to the 'sales' column.

In [4]:
import pandas as pd

# Step 10: Load the dataset (replace with the actual file path)
df = pd.read_csv('Raw Data (1).csv')

# Step 11: Group by 'region' and calculate total sales per region
sales_per_region = df.groupby('region')['Sales'].sum()

# Step 12: Display the total sales per region
print(sales_per_region)

region
Alabama                  19510.64
Arizona                  35282.02
Arkansas                 11678.13
California              457687.68
Colorado                 32108.12
Connecticut              13384.36
Delaware                 27451.07
District of Columbia      2865.02
Florida                  89473.73
Georgia                  49095.84
Idaho                     4382.49
Illinois                 80166.16
Indiana                  53555.36
Iowa                      4579.76
Kansas                    2914.31
Kentucky                 36591.75
Louisiana                 9217.03
Maine                     1270.53
Maryland                 23705.52
Massachusetts            28634.44
Michigan                 76269.61
Minnesota                29863.15
Mississippi              10771.34
Missouri                 22205.15
Montana                   5589.35
Nebraska                  7464.93
Nevada                   16729.10
New Hampshire             7292.52
New Jersey               35764.32
New Mexico                4783.54
New York                310876.20
North Carolina           55603.09
North Dakota               919.91
Ohio                     78258.21
Oklahoma                 19683.39
Oregon                   17431.14
Pennsylvania            116512.02
Rhode Island             22627.96
South Carolina            8481.71
South Dakota              1315.56
Tennessee                30661.92
Texas                   170187.98
Utah                     11220.06
Vermont                   8929.37
Virginia                 70636.72
Washington              138641.29
West Virginia             1209.82
Wisconsin                32114.61
Wyoming                   1603.14
Name: Sales, dtype: float64

Task 2: Grouping by Multiple Columns<br>

Task: Group the dataset by 'region' and 'category', then find the average sales.<br>
Steps:<br>
13. Group by ['region', 'category'].<br>
14. Use .mean() on the 'sales' column.<br>
15. Examine the resulting DataFrame structure.

In [7]:
import pandas as pd

# Load the dataset
df = pd.read_csv('Raw Data (1).csv')

# Step 13 & 14: Group by 'region' and 'category' and calculate mean sales
avg_sales = df.groupby(['region', 'Category'])['Sales'].mean()

# Step 15: Display the result
print(avg_sales)

# Optional: Convert result to a DataFrame for easier viewing
avg_sales_df = avg_sales.reset_index()
print("\nDataFrame Structure:\n")
print(avg_sales_df)

region         Category
Alabama        Furniture           575.680000
               Office Supplies     116.918889
               Technology          640.648571
Arizona        Furniture           276.027143
               Office Supplies      78.786063
                                     ...
West Virginia  Office Supplies     178.826667
Wisconsin      Furniture           539.269063
               Office Supplies     114.336604
               Technology          351.926400
Wyoming        Furniture          1603.140000
Name: Sales, Length: 142, dtype: float64

DataFrame Structure:

            region         Category        Sales
0          Alabama        Furniture   575.680000
1          Alabama  Office Supplies   116.918889
2          Alabama       Technology   640.648571
3          Arizona        Furniture   276.027143
4          Arizona  Office Supplies    78.786063
..             ...              ...          ...
137  West Virginia  Office Supplies   178.826667
138      Wisconsin        Furniture   539.269063
139      Wisconsin  Office Supplies   114.336604
140      Wisconsin       Technology   351.926400
141        Wyoming        Furniture  1603.140000

[142 rows x 3 columns]

Task 3: Aggregating Multiple Functions<br>

Task: Group data by 'category' and apply multiple aggregation functions (sum and count) on 'quantity'.<br>
Steps:<br>
16. Group by 'category'.<br>
17. Use .agg(['sum', 'count']) on 'quantity'.<br>
18. Analyze the result to understand how multiple aggregations work.

In [8]:
import pandas as pd

# Load the dataset
df = pd.read_csv('Raw Data (1).csv')

# Step 16 & 17: Group by 'Category' and apply sum and count on 'Quantity'
quantity_stats = df.groupby('Category')['Quantity'].agg(['sum', 'count'])

# Step 18: Display the result
print("Aggregated Quantity Stats by Category:")
print(quantity_stats)

Aggregated Quantity Stats by Category:
                   sum  count
Category
Furniture         8028   2121
Office Supplies  22906   6026
Technology        6939   1847