Pivot Tables & Advanced Aggregations<br>
Objective: Utilize pivot tables for complex aggregation tasks.

Task 1: Creating a Basic Pivot Table<br>
Task: Create a pivot table that shows the total sales for each 'category' across 'years'.<br>
Steps:<br>
19. Use pandas pivot_table() function.<br>
20. Set index='year' and columns='category' .<br>
21. Define the value parameter as 'sales' and aggregation function as np.sum .

In [1]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('Raw Data (1).csv')

# Ensure 'Order Date' is a datetime type
df['Order Date'] = pd.to_datetime(df['Order Date'],dayfirst=True)

# Extract year and month from 'Order Date'
df['Year'] = df['Order Date'].dt.year
df['Month'] = df['Order Date'].dt.month

# Create basic pivot table: Total Sales per Category by Year
pivot = pd.pivot_table(
    df,
    index='Year',
    columns='Category',
    values='Sales',
    aggfunc=np.sum
)

print("Task 1: Total Sales per Category by Year:")
print(pivot)

Task 1: Total Sales per Category by Year:
Category  Furniture  Office Supplies  Technology
Year
2014      157192.89        151776.41   175278.26
2015      170518.26        137233.42   162780.78
2016      198901.55        183940.07   226364.24
2017      215387.28        246097.09   271730.82

/tmp/ipykernel_61127/618245416.py:15: FutureWarning: The provided callable <function sum at 0x7e449ff57520> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot = pd.pivot_table(

Task 2: Pivot Table with Multiple Aggregations<br>

Task: Generate a pivot table with both mean and max of 'profit' for 'category' each month.<br>
Steps:<br>
22. Create a pivot table.<br>
23. Use aggfunc=['mean', 'max'] .<br>
24. Analyze the pivot table output.

In [2]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('Raw Data (1).csv')

# Fix date format (dd-mm-yyyy)
df['Order Date'] = pd.to_datetime(df['Order Date'], dayfirst=True)

# Extract year and month
df['Year'] = df['Order Date'].dt.year
df['Month'] = df['Order Date'].dt.month



# Task 2: Mean and max profit by category and month
profit_pivot = pd.pivot_table(df, index='Month', columns='Category', values='Profit', aggfunc=['mean', 'max'])
print("\nTask 2: Mean and Max Profit per Category by Month:\n", profit_pivot)

Task 2: Mean and Max Profit per Category by Month:
                mean                                   max                  \
Category  Furniture Office Supplies  Technology Furniture Office Supplies
Month
1        -24.002593       27.505507   66.232055    746.41         2504.22
2         11.009206       24.146780   88.784333    266.45         1270.99
3          5.514000       25.254976  122.303662    610.86         3177.48
4         10.582246       11.331265   48.463243    378.27         1906.49
5         15.348733       20.022217   82.679328    770.35         1276.49
6          6.774828       24.996321   71.551550    580.54         1143.89
7          8.613902        5.615085   75.947669    388.81          390.98
8          0.033145       28.100710   69.462137    373.78         1453.12
9         19.361560       19.999087   59.738686    609.72         4630.48
10       -16.192246       23.009474  152.118790    481.47         1906.49
11        12.288495       17.949063   55.696111   1013.13          792.27
12        19.561220       21.689541   75.161660    673.88         4946.37


Category Technology
Month
1           1379.98
2           2799.98
3           6719.98
4           2365.98
5           1159.99
6           1668.21
7            944.99
8           1416.80
9           1371.98
10          8399.98
11          5039.99
12          2302.97

Task 3: Advanced Pivot Table with Margins<br>

Task: Create a pivot table that includes subtotals for each 'region' and 'category'.<br>
Steps:<br>
25. Use pivot_table() with margins=True .<br>
26. Set the index and columns appropriately.<br>
27. Validate subtotal correctness by summing manually.

In [3]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('Raw Data (1).csv')

# Fix date format (dd-mm-yyyy)
df['Order Date'] = pd.to_datetime(df['Order Date'], dayfirst=True)

# Extract year and month
df['Year'] = df['Order Date'].dt.year
df['Month'] = df['Order Date'].dt.month


# Task 3: Total sales by region and category with subtotals
margins_pivot = pd.pivot_table(df, index='region', columns='Category', values='Sales', aggfunc=np.sum, margins=True, margins_name='Total')
print("\nTask 3: Sales by Region and Category with Subtotals:\n", margins_pivot)

Task 3: Sales by Region and Category with Subtotals:
 Category              Furniture  Office Supplies  Technology       Total
region
Alabama                 6332.48          4209.08     8969.08    19510.64
Arizona                13525.33         10005.83    11750.86    35282.02
Arkansas                3187.55          4565.33     3925.25    11678.13
California            156064.67        142351.89   159271.12   457687.68
Colorado               13243.05          7898.76    10966.31    32108.12
Connecticut             5174.99          5418.34     2791.03    13384.36
Delaware                4759.32          8129.53    14562.22    27451.07
District of Columbia    1346.58           138.52     1379.92     2865.02
Florida                22987.04         19518.65    46968.04    89473.73
Georgia                 8321.48         26715.81    14058.55    49095.84
Idaho                   2595.48           949.50      837.51     4382.49
Illinois               28274.57         19907.92    31983.67    80166.16
Indiana                11496.71         15735.40    26323.25    53555.36
Iowa                    2642.31           783.15     1154.30     4579.76
Kansas                   111.12          1954.15      849.04     2914.31
Kentucky               12126.84         11894.27    12570.64    36591.75
Louisiana               2963.03          3423.16     2830.84     9217.03
Maine                    109.48           399.80      761.25     1270.53
Maryland                9149.25         10390.23     4166.04    23705.52
Massachusetts          10919.07         11988.74     5726.63    28634.44
Michigan               22321.10         37723.76    16224.75    76269.61
Minnesota               7611.35         19406.54     2845.26    29863.15
Mississippi             4317.85          3631.16     2822.33    10771.34
Missouri                2936.45         12182.18     7086.52    22205.15
Montana                   63.98          1862.44     3662.93     5589.35
Nebraska                1944.70          2234.49     3285.74     7464.93
Nevada                  4635.17          6956.93     5137.00    16729.10
New Hampshire           1886.47          1769.25     3636.80     7292.52
New Jersey              6307.05         14956.11    14501.16    35764.32
New Mexico              1701.41          1384.19     1697.94     4783.54
New York               93372.69         90020.03   127483.48   310876.20
North Carolina         15155.47         14364.52    26083.10    55603.09
North Dakota                NaN           919.91         NaN      919.91
Ohio                   24199.13         18383.04    35676.04    78258.21
Oklahoma                8284.10          5030.84     6368.45    19683.39
Oregon                  6338.13          5271.44     5821.57    17431.14
Pennsylvania           39354.94         34941.78    42215.30   116512.02
Rhode Island            5918.76          6234.79    10474.41    22627.96
South Carolina          3078.25          3811.84     1591.62     8481.71
South Dakota             324.90           597.72      392.94     1315.56
Tennessee              13506.74         12347.88     4807.30    30661.92
Texas                  60593.34         44490.43    65104.21   170187.98
Utah                    4822.35          4087.80     2309.91    11220.06
Vermont                 5120.10          2209.51     1599.76     8929.37
Virginia               25321.95         21169.61    24145.16    70636.72
Washington             48020.16         40084.42    50536.71   138641.29
West Virginia            673.34           536.48         NaN     1209.82
Wisconsin              17256.61          6059.84     8798.16    32114.61
Wyoming                 1603.14              NaN         NaN     1603.14
Total                 741999.98        719046.99   836154.10  2297201.07

/tmp/ipykernel_61127/717293888.py:16: FutureWarning: The provided callable <function sum at 0x7e449ff57520> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  margins_pivot = pd.pivot_table(df, index='region', columns='Category', values='Sales', aggfunc=np.sum, margins=True, margins_name='Total')
/tmp/ipykernel_61127/717293888.py:16: FutureWarning: The provided callable <function sum at 0x7e449ff57520> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  margins_pivot = pd.pivot_table(df, index='region', columns='Category', values='Sales', aggfunc=np.sum, margins=True, margins_name='Total')
/tmp/ipykernel_61127/717293888.py:16: FutureWarning: The provided callable <function sum at 0x7e449ff57520> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  margins_pivot = pd.pivot_table(df, index='region', columns='Category', values='Sales', aggfunc=np.sum, margins=True, margins_name='Total')